/*首頁字幕*/
.light-brand{
 text-shadow: 0 0 20px orange;}
.light-header{
 text-shadow: 10px 0 20px white;}
.header-btn{
 color: white;
 background-color:	orange;}
.header-btn:hover{
 color: white;
 text-shadow: 0 0 20px white;}
.title-text:hover{
	font-size:100%;
}

/*跳到第一頁*/
.sticky-icon {position: fixed;
              bottom: 20px;
              right: 20px;
			  color:grey;}
.sticky-icon:hover {color:orange;}
			  
			  

/*關於資傳*/
.face a{ color:grey;}
.face a:hover{ color:blue;}

 
/*contact資訊*/
 box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.contact-info{color:#AAAAAA;}

.contact-hover1:hover{color:#0000FF;
                      text-decoration:underline;}
					  
.contact-hover2:hover{color:#FF3333;
                      text-decoration:underline;}
.contact-pa{color:#ffffff;}


/*課程規劃table*/
.table-border {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-pra {
    padding: 5px;
    text-align:justify ;    
}

.table-th {   
    padding: 5px;
    text-align: center;
}

.table-pra a{color:black;
  text-decoration:underline; }	
  
.table-pra a:hover{color:#FFAA33;
  text-decoration:underline; }	
 
 /*系所活動*/
 

/*footer*/
.text-co a{
   color: grey;}
.text-co a:hover {color:#FFAA33;
  text-decoration:underline; }