/*contact資訊*/
 box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.contact-info{color:#AAAAAA;}

.contact-hover1:hover{color:#0000FF;
                      text-decoration:underline;}
					  
.contact-hover2:hover{color:#FF3333;
                      text-decoration:underline;}
.contact-pa{color:#ffffff;}


/*課程規劃table*/
.table-border {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-pra {
    padding: 5px;
    text-align:left ;    
}

.table-th {   
    padding: 5px;
    text-align: center;
}

.table-pra a{color:black;
  text-decoration:underline; }	
  
.table-pra a:hover{color:#FFAA33;
  text-decoration:underline; }	
 
.table-btn { color:black;
   background-color:hsla(9, 100%, 64%, 0);
text-decoration:underline; }